*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #e1f1df;
    padding: 40px;
}

/* Judul Utama */
h1{
    text-align: center;
    margin-bottom: 25px;
    color: #114b4a;
    font-size: 28px;
}

/* Judul Sub-bab (A, B, dll) */
h2{
    max-width: 850px;
    margin: 20px auto 10px auto;
    color: #114b4a;
    font-size: 22px;
}

/* Bungkus teks paragraf */
.content-box{
    max-width: 850px;
    margin: auto;
    background: white;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #114b4a;
    line-height: 1.6;
}

/* Paragraf */
.content-box p{
    font-size: 16px;
    color: #114b4a;
    text-align: justify;
    margin-bottom: 15px;
}

/* List Rumusan Masalah */
ol{
    padding-left: 20px;
}

ol li{
    margin-bottom: 10px;
    font-size: 18px;
    color: #114b4a;
}

@media (max-width: 600px){
    body{
        padding: 15px;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 19px;
    }
    .content-box{
        padding: 20px;
    }
    .content-box p{
        font-size: 15px;
    }
    ol li{
        font-size: 16px;
    }
}
